@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le gestionnaire Truckalire</h1>
    <p>Utilisez les onglets en haut de l'écran pour parcourir la liste des livres et la liste des genres ou pour ajouter un livre ou un genre.</p>
</div>


